body {
    background-color: #f0f8ff;
    color: #191970;
    font-family: sans-serif;   
}

h1 {
    text-align: center;
    border-bottom: 2px solid #191970;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    font-size: 1.1em;
    border-top: 1px dashed #191970;
    border-bottom: 1px dashed #191970;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn{
    padding: 10px 20px;
    background-color: #6496ed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px;
}
.center-wrap{

    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:1.5em;
    }
    .button-container{
        flex-direction: column;
    }
    .btn{
        margin: 10px 0;
    }
    
}