body {
    background-color: #fff0f5;
    color: #333;
    font-family: 'Kaisei Tokumin', serif;
    font-size: 16px;
    line-height: 1.8;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    color: #ff69b4;
    border-bottom: 2px solid #ff69b4;
}

ul {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.bike-info {
    background-color: #4e7c32;
    color: white;
    border: 2px solid #3d6027;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    max-width: 90%;
    margin-left: 0;
    margin-right: 0;
}

.photo-placeholder {
    background-color: #ccc;
    height: 150px;
    display:  flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #666;
    font-size: 0.9em;
}

.bike-photo {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 0 auto;   
}

@media (min-width: 768px){
    body{
        font-size: 18px;
        max-width: 1000px;
    }

    .bike-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 40px;
    }
    .bike-text {
        flex: 1;
        text-align: left;
    }
    .bike-photo {
        flex: 1;
        width: 100%;
        max-width: 450px;
        height: auto;
    }

    }